/* =====================================================
   styles.css — TAWENO SUSHI
   Completa los estilos según el mockup adjunto
   ===================================================== */

/* Reset base */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

/* Tu código va aquí */
body {
  font-size: 1.6rem;
}

.nav{
  background-color:black ;
  width: 200rem;
  height: 41rem;
 padding: 0.1rem  ;
}

.fondo-blanco{
  background-color: white;
  display: flex;
  justify-content: space-between;
  
  padding: 2rem 2rem;
  height: 12rem;

    
}

.nav {
 color: black;
 text-decoration: none;
 list-style: none;

}


.links {
  list-style: none;
}






.footer{
background-color: rgb(0, 0, 0);
width: 300rem;
height: 55rem;
;


}

.banner-principal{
padding: 3rem 2rem 1rem  ;
gap: 23rem;
display: flex;
}

.footer li{
  color: white;
  list-style: none;
  margin-top: 2rem;
  
} 

.footer h3{
  color: white;
}
.footer p{
  color: #444444;
}

.footer h4{
  color: #444444;
}


.footer ul li{
  color: #444444;
}

.banner-informacion h4 ul li {
  color: #444444;


}
.parrafo-banner{
  border-top: 0.5rem solid #444444;
  margin: 5rem;



}

.link-class li a {
  text-align: end;
}